.footer-main {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
}
.title-footer {
  font-size: 28px;
  font-weight: 600;
}
.footer-img {
  float: left;
  margin: 0 30px 0 0;
  overflow: hidden;
  position: relative;
  width: 170px;
  height: 120px;
}
.pressed {
  position: absolute;
  top: -4px;
  left: -22px;
}
.company {
  width: 36%;
}
.lead-company {
  font-size: 14px;
  font-family: 'Open Sans', "sans-serif";
  font-weight: 400;
  letter-spacing: -1px;
}
.items-solutions {
  padding: 0;
  line-height: 2;
}
.way-items-footer {
  list-style: none;
  font-size: 14px;
  font-family: 'Open Sans', "sans-serif";
}
.item-footer {
  font-weight: 900;
  color: #696868;
  text-decoration: none;
  font-style: normal;
  display: inline-block;
}
.way-icon {
  font-size: 18px;
  color: #929191;
  padding-right: 15px;
}
.item-footer::after {
  height: 2px;
  width: 0;
  border-bottom: 1px solid grey;
  content: "";
  display: block;
  -webkit-transition: 0.4s;
  margin: 0 auto;
}
.item-footer:hover:after {
  width: 100%;
}
.footer-additional {
  background: #00b1ba;
  padding: 22px 0;
  border-top: 1px solid #5c5c5c;
}
.footer-logo {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: black;
}
.footer-additional-headline {
  font-size: 14px;
  color: #4b4a4a;
  margin: 0;
}
.footer-additional-subtitle {
  font-size: 14px;
  color: #6d6a6a;
  margin: 0;
}
@media (min-width: 768px) and (max-width: 1119px) {
  .footer-main {
    width: 70%;
    margin: 0 auto;
    flex-direction: column;
  }
  .company {
    width: auto;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .footer-main {
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
  }
  .company {
    width: auto;
  }
}
