body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.stretch {
    transform: scaleY(1.2);
}

.default:hover {
    cursor: default;
}


/*.page-header {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    left: 0;
}*/

.page-row {
    max-width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo {
    //margin: 20px 0;
    display: inline-block;
}

.link-logo {
    display: inline-block;
}

.logo-img {
    width: auto;
    height: 66px;
}

.navigation {
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    margin: 20px 0;
}

.navigation-section:nth-child(1){
    margin-left: 0;
}
.navigation-section {
    margin: 0 40px;
    list-style: none;
}

.link-navigation {
    text-decoration: none;
    color: rgb(219, 219, 220);
    font-size: 18px;
    transition: 0.3s;
}

.link-navigation:hover {
    color: rgb(0, 178, 185);
}

.appearing {
    top: 0 !important;
}

@media (max-width: 1179px) {
    .header-row {
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 320px) and (max-width: 890px) {
    .logo-img {
        height: 10vw;
    }

    .navigation {
        position: fixed;
        z-index: 4;
        margin: 0;
        height: 100vh;
        width: 100vw;
        top: -400vw;
        bottom: 0;
        right: 0;
        left: 0;
        background: black;
        outline: none;
        transition: all 0.3s;
        flex-direction: column;
    }

    .navigation-section:nth-child(1){
        margin-left: 20px;
    }

    .navigation-section {
        list-style: none;
        text-decoration: underline;
        margin: 20px;
    }

    .page-row {
        padding: 0;
        width: 95%;
    }
}