.anchor {
  background: #5c5c5c;
  box-sizing: border-box;
  padding: 10px 12px;
  display: none;
}

.direction-anchor {
  transform: rotate(270deg);
  font-size: 30px;
  color: #fafdfe;
}

.fixed {
  display: block;
  width: 40%;
  margin: 20px auto;
}

.fixed-aside {
  display: block;
  position: fixed;
  height: 100px;
  width: 111px;
  right: 14%;
  bottom: 9%;
  text-align: center;
}

@media (max-width: 1440px) {
  .fixed-aside {
    right: 5%;
    bottom: 2%;
  }
}
