@mainDarkColor: rgb(0, 131, 136);
@mainLightColor: rgb(0, 178, 185);

.responsive(@columnWidth,@mainWidth,@quantitySize, @progresPosition) {
  .container {
    height: 60%;
    width: 100%;
    text-align: center;
    margin: 20px auto;
  }

  .crop {
    float: none;
    margin: 0 auto;
  }

  .holder {
    width: 100%;
  }

  .main-right-column,
  .main-left-column {
    width: @columnWidth;
    margin: 0 auto;
  }

  .main-row {
    width: @mainWidth;
    flex-direction: column;
    text-align: center;
  }

  .tile-logo {
    font-size: 25px;
  }

  .tile-logo-section {
    margin-right: 10px;
  }

  .quantity-progress {
    font-size: @quantitySize;
  }

  .description-progress {
    font-size: @quantitySize/4;
  }

  .progress {
    flex-direction: @progresPosition;
  }
}

.servicesSection(@sizeTime, @sizeText,@width) {
  .service-box {
    margin: 10px;
  }
  .service-box-quantity {
    font-size: @sizeTime;
  }

  .service-box-text {
    font-size: @sizeText;
    max-width: @width;
  }

  .service-box-but {
    font-size: @sizeText;
  }
}

.tile {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px;
}

.tile-component {
  display: flex;
}

.banner {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.banner-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.tile-main {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  height: 370px;
}

.tile-main-box {
  box-sizing: border-box;
  padding: 50px 20px 20px 20px;
  text-align: center;
  width: 50%;
  height: 50%;
  overflow: hidden;
}

.odd-tile {
  background: @mainDarkColor;
}

.even-tile {
  background: @mainLightColor;
}

.tile-img {
  max-height: 70px;
}

.tile-description {
  margin-left: 30px;
}

.tile-name {
  font-size: 18px;
  color: white;
  display: inline-block;
}

.tile-logo {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

.tile-logo-section {
  color: @mainLightColor;
  list-style: none;
  font-size: 50px;
  font-weight: 300;
}

.tile-description-text {
  color: rgb(219, 219, 220);
  font-size: 30px;
  margin-top: 40px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.services-row {
  border-top: 1px solid white;
  background: rgb(0, 131, 136);
}

.progress {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.section-progress {
  padding: 15px 0;
  display: flex;
  color: white;
  max-width: 200px;
}

.quantity-progress {
  position: relative;
  top: 3px;
  margin-right: 15px;
  font-weight: 300;
  font-size: 72px;
  height: 100%;
}

.description-progress {
  line-height: 1.5;
  font-size: 20px;
}

.service-box {
  display: flex;
  background: white;
  text-decoration: none;
}

.service-box-quantity {
  font-size: 55px;
  font-weight: 300;
  padding: 12px;
  color: black;
}

.service-box-text {
  color: black;
  font-weight: 500;
  line-height: 1.3;
  font-size: 18px;
  padding: 12px;
  margin: 0;
  max-width: 80px;
}

.service-box-but {
  color: white;
  padding: 5px 15px;
  font-size: 18px;
  text-align: center;
  background: @mainLightColor;
  writing-mode: tb-rl;
  transform: rotate(180deg);
}

.main-info {
  text-align: center;
  margin: 70px 0;
}

.main-info-link {
  color: @mainLightColor;
  text-decoration: none;
}

.main-info-logo {
  font-size: 72px;
  font-weight: 300;
}

.main-info-description, .main-info-additional {
  font-size: 14px;
}

.main-row {
  display: flex;
  justify-content: space-between;
}

.main-column {
  border-bottom: 2px solid #929191;
  border-top: 1px solid #5c5c5c;
  background: #fafdfe;
}

.title-column {
  font-size: 36px;
  font-weight: 300;
}

.crop {
  float: left;
  margin: 0 25px 0 0;
}

.img-column-main {
  width: 150px;
  height: 150px;
}

.holder {
  margin-bottom: 50px;
  width: 100%;
  overflow: hidden;
}

.name-description-holder {
  font-size: 24px;
  font-weight: 500;
}

.description-section-holder {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.holder-link {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #767676;
  text-decoration: none;
}

.container {
  width: 100%;
  height: 165px;
  box-sizing: border-box;
  padding: 30px 60px 50px 60px;
  background: #f2f5f6;
  margin-bottom: 60px;
  overflow: hidden;
}

.content-container {
  margin: 0;
  width: 100%;
  text-align: start;
  font-size: 14px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

.additional-text-container {
  color: #5e5d5d;
  text-align: right;
  font-size: 16px;
  font-family: 'Open Sans', "sans-serif";
  font-weight: 600;
}

.main-right-column {
  width: 32%;
}

.main-left-column {
  width: 58%;
}

@media (min-width: 890px) and (max-width: 1179px) {
  .responsive(70%, 70%, 70px, row);

  .section-progress {
    max-width: 200px;
  }
}

@media (min-width: 425px) and (max-width: 889px) {
  .responsive(90%, 95%, 50px, column);

  .servicesSection(35px, 12px, 60px);

  .tile-description {
    margin: 0;
  }

  .section-progress {
    max-width: 130px;
  }

  .tile-description-text {
    font-size: 4vw;
  }

  .tile-logo,
  .tile-main {
    display: none;
  }

  .description-section-holder,
  .content-container {
    font-size: 18px;
  }
}

@media (min-width: 320px) and (max-width: 424px) {
  .responsive(90%, 95%, 60px,column);

  .servicesSection(35px, 12px, 60px);

  .main-info-logo {
    font-size: 10vw;
  }

  .main-info-description,
  .main-info-additional,
  .description-section-holder,
  .content-container,
  .way-items-footer {
    font-size: 3.5vw;
  }

  .progress {
   margin: 40px auto;
  }

  .tile {
    display: none;
  }
}



