#toggle {
    display: none;
    width: 35px;
    height: 30px;
    margin: 30px auto 10px;
    position: absolute;
    right: 20px;
    z-index: 15;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}
#toggle span:after{
    top: 9px;
}
#toggle span {
    position: relative;
    display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: gainsboro;
    transition: all 0.3s;
    border-radius: 2px;
}

.anim-menu span {
    background-color: transparent !important;
}
.anim-menu span:before {
    transform: rotate(45deg) translate(5px, 5px);
}
.anim-menu span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

@media (min-width: 320px) and (max-width: 890px) {
    #toggle {
        display: block;
    }
}